body, html{
  background:#f4f4f4;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: rgb(0, 123, 255);
}
.navbar-default .navbar-brand {
  color: #ecf0f1 ;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

/* Custom */
.main-color-bg{
  background-color: #f4f4f4 !important;
  border-color: #c0392b !important;
  color:black !important;
}

/* Header */
#header{
  
  color:black;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

#header .container{
  color: blue;
}


/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}
#addMemberBtn{
  background-color: rgb(0, 123, 255);
  color: white;
  margin-top: 16px;
}
#adminLogOut{
  margin: 5px;
  color: white;
}
#welcomeAdmin{
  position: relative;
  top: 10px;
}
#DashBoardH{
  position: relative;
  left: 50%;
  color: black;
}

div.prog-bar-forty{
	width : 40%;
}

div.prog-bar-sixty{
	width : 60%;
}
