body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background: url(../images/cloud.jpg) 50% 50%;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#adminJumbotron{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}