body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#mainContainer{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}