@charset "utf-8";
/* CSS Document */

body, html {
	background-color: white;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-width: 100%;
	width: 100%;
	
}
h3 {
	
	color: DimGrey;
	
}

div#one-repo-userhome-navbar{

	position:relative;
	margin-left: 0;
	height: 100vh;
	overflow-x: auto;
	overflow-y: scroll;
}
#sideBar{
	background-color: Gainsboro;
	width: 20vw;
	height: 110vh;
	padding: 0;
	border: 0;
	color: #1DA1F2;
	float: left;
	font-size: 1.3em;
	bottom: 0;
	
	
	
}
#one-repo-userhome-navbar{
	margin-left: 15px;
	height: 100vh;
}

#sideBar ul{
	
	list-style: none;
	padding-top: 0;
	border-top: 0;
	margin: 0;
	
	}

#sideBar ul li {
	font-weight: bold;
	padding: 2.5vh;
	
}

#infoContent {
	text-align: left;
	display: inline;
}

#photoContainer{
	margin-left: 5vw;
	padding-top: 5vh;
	text-align: center;
	max-width: 25vw;
	max-height: 20vh;
	
	
	}
	

#profilePhoto{
	
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	display: inline;
	
	}
	
.editButton{
	margin-left: 0vw;
	display: inline-block;
	
}
.editPhotoButton{
	display: inline-block;
	margin-left:2vw;
}
#infoTable{
	
	text-align: left;
	min-width: 50vw;
	margin-left: 5vw;
	margin-right: auto;
	
	
	
	}
#infoTable tr td{
	padding-top: 3vh;
	
	background-color:white;
	
	}
	
	
#accountsTable{
	
	text-align: left;
	min-width: 50vw;
	margin-left: 5vw;
	margin-right: auto;
	
	
	
	}
#accountsTable tr td{
	padding-top: 3vh;
	background-color: white;
	
	
	}
	
.removeButton{
	margin-left: 0vw;
	display: inline-block;


}

strong {

color: #1DA1F2;

}

button {
	background-color: #1DA1F2; /* Green */
  border-color: #1DA1F2;
  border: 0;
  color: white;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
	width: 150px;
	
	
}
#col10{
	left: 20%;
}
.close{
	
	width: 50px;
	
}
#passwordText{
	
	
	
}


button:hover {
	background-color: #1DA1F2; /* Green */
  border-color: #1DA1F2;
  color: white;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.1s;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8.5px 25px 0 rgba(0,0,0,0.19);
}
#home-button{
	list-style-type: none;
}
#signout-button-item-profile{
	position: relative;
	right: 40vh;
	width: 100%;
}
#signoutForm{
	position: relative;
	width: 17.2%;
	top: 9vh;
}

