body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background: url(../images/cloud.jpg) 50% 50%;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container h1{
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px;
    letter-spacing: 10px;
}
.container h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.count{
    margin: 40px 0;
}
.countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid; 
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
}
.countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
}
.box{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#magicLoad{
    position: relative;
    left: 50px;
    
}
.box .b{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-left: 4px solid ;
    border-right: 4px solid ;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ro 2s infinite;
}
.box .b1{
    border-color: #4a69bd;
    width: 120px;
    height: 120px;
}
.box .b2{
    border-color: #f6b93b;
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;
}
.box .b3{
    border-color: #2ecc71;
    width: 80px;
    height: 80px;
    animation-delay: 0.4s;
}
.box .b4{
    border-color: #34495e;
    width: 60px;
    height: 60px;
    animation-delay: 0.6s;
}
@keyframes ro{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }50%{
        transform: translate(-50%, -50%) rotate(-180deg);
    }100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.slBtn{
    margin: 2px;
}
.modalFormDesign{
   margin-left: 1px; 
}
.modal-header{
    background-color: #BED0DA;
}
