/*CONTAINER BEGIN*/
div#mainContainer {
	padding: 0px;
	overflow: hidden;
}
/*CONTAINER END*/

/*NAV-BAR BEGIN*/

div#one-repo-admin-navbar{
	position:relative;
}

div#one-repo-admin-navbar ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div#one-repo-admin-navbar ul li a{
        width : 100%;
        padding : 8px 8px 8px 8px;
}

div#one-repo-admin-navbar ul li a.active {
	background-color: rgb(0, 123, 255);
	color: white;
		
}

div#one-repo-admin-navbar ul li a:hover:not(.active) {
  	background-color: rgb(82, 114, 165);
	color: white;
}

img#nav-bar-logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#one-repo-admin-navbar{
	height: 100vh;
}

/*
div#button-div{
	position: absolute;
}*/

button#sign-out-button{
	border-radius:0;
	position: absolute;
	bottom:0px;
	padding: 8px 8px 8px 8px;
	width: 100%;
}

/*NAV-BAR END*/

/*OVERLAYS */

/*
#outer-overlay:hover .overlay {
	opacity: .9;
	transition: opacity .5s;
	visibility: visible;
}
*/

::selection {
  	background-color: #fff2a8;
	color: black;
}

/* Need to fix this style. 
#recent-overlay{
border: 2px solid red;
}
#home-overlay{
border: 2px solid red;
}
.tableDesign{
border: 1px solid red;
}
#myTable{
position: relative;
left: 20%;
top: 10%;
}
th, td{
padding: 15px;
}
th{
text-align: left;
}
#dropdownOptionButton{
position: absolute;
top: 8%;
left: 37%;
} 
*/


  
td, th {
	
	text-align: left;
	padding: 8px;
}
  
tr:nth-child(even) {
	background-color: #F8F9FA;
}
.nav-item{
    margin-top: 10px;
}
#tableContainer{
	margin-top: 50px;
	margin-left: 50px;
}
.adminUserActionButtonGroup{
	
	width: 100%;
}
#admin-add-user-nav-item{
	width: 100%;
}
#admin-delete-user-nav-item{
	width: 100%;
}
#admin-dashboard-nav-item{
	width: 100%;
}