/*CONTAINER BEGIN*/
div#mainContainer {
	padding: 0px;
	overflow: hidden;
}
/*CONTAINER END*/

/*NAV-BAR BEGIN*/

div#one-repo-userhome-navbar{
	position:relative;
}

div#one-repo-userhome-navbar ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

div#one-repo-userhome-navbar ul li a{
        width : 100%;
        padding : 8px 8px 8px 8px;
}

div#one-repo-userhome-navbar ul li a.active{
	background-color: rgb(0, 123, 255);
	color: white;
		
}


div#one-repo-userhome-navbar ul li a:hover:not(.active) {
  	background-color: rgb(82, 114, 165);
	color: white;
}

img#nav-bar-logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#one-repo-userhome-navbar{
	height: 94vh;
}

/*
div#button-div{
	position: absolute;
}*/

button#sign-out-button{
	border-radius:0;
	position: absolute;
	bottom:0px;
	padding: 8px 8px 8px 8px;
	width: 100%;
}

/*NAV-BAR END*/

/*HOME OVERLAY BEGIN*/

div#home-overlay div#home-container {
	width: 98%;
	margin-top : 10px;
	margin-left : 0px;
	margin-right: 0px;
}

/*HOME OVERLAY END*/



/*OVERLAYS */

#outer-overlay .overlay {
	/*background: #FD8698;*/
	height: 100%;
	width: 99%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	padding: 0;
	transition: opacity .5s;
	visibility: hidden;
}

#home-overlay{
	overflow-y:auto;
	overflow-x:hidden;
}

::-webkit-scrollbar {
	width: 1%;
	background: black;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/*
#outer-overlay:hover .overlay {
	opacity: .9;
	transition: opacity .5s;
	visibility: visible;
}
*/

::selection {
  	background-color: #fff2a8;
	color: black;
}

/* Need to fix this style. 
#recent-overlay{
border: 2px solid red;
}
#home-overlay{
border: 2px solid red;
}
.tableDesign{
border: 1px solid red;
}
#myTable{
position: relative;
left: 20%;
top: 10%;
}
th, td{
padding: 15px;
}
th{
text-align: left;
}
#dropdownOptionButton{
position: absolute;
top: 8%;
left: 37%;
} 

#dropdownMenuButton{
	margin-top: 20px;	
}
.folderImageStyler{
	max-width: 45px;
	max-height: 45px;
	margin-bottom: 5px;
	position: absolute;
}
#folderTableContainerTable{
	visibility: hidden;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin-top: 20px;
}
  
td, th {
	
	text-align: left;
	padding: 8px;
}
  
tr:nth-child(even) {
	background-color: #F8F9FA;
}*/


/*FILE OVERLAY STYLE BEGIN*/

div#file-overlay {
	overflow-y: scroll;
}

table#file-system-table thead{
	width : 99%;
}

table#file-system-table tbody{
	width : 99%;
}
.cssOfAuthenticateButton{
	position: relative;
	right: 18px;
	margin-top: 10px;
}

div.fs-drop-down{
	float : right;
}

/*FILE OVERLAY STYPE END*/
#signout-button-item{
	position: relative;
	width:185px;
	background-color: #007BFF;
	color: white;
	text-align: center;
}
#signout-button-itemDuh{
	position: relative;
	right: 262px;
	height: 64px;
	width: 182px;
}
#profileText{
	position: relative;
	right: 9.5vh;
	text-align: left;
	
}
#profile-button-item{
	position: relative;
	border: 0;
	float: left;
	background-color: #F8F9FA;
	color: #007BFF;
	width: 100%;
}
#profile-button-item:hover{
	background-color: #5272A5;
	color: white;
}
